@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.water-glass{
  position: relative;
  margin-bottom: 60px;
}

.water-glass__counter {
  display: block;
  width: 100%;
  position: absolute;
  top: 45%;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__button {
    padding: 8px 16px;
    margin-bottom: 15px;
    width: 216px;
    height: 47px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px; 
  }

  &__add {
    border: none;
    font-weight: bold;
  }

  &__delete {
    background: none;
    border: none;
    box-shadow: none;
    color: #fff;
  }
}

.history {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  text-align: center;

  &__button {
    width: 100%;
    padding: 12px 16px;
    background: none;
    border: none;
    color: black;
  }
}